
<div class = "banner">
   <%= image_tag("banner.png", alt: "tv") %>

</div>
<div class = "card-container">
  <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= link_to "See details", class: "mi-boton" %>
  </div>
   <div class ="card">
     <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>Xiaomi </strong> <br>
      Televisor LED 4K Smart 50'</p>
      <p class="price">$500</p>
     <%= link_to "See details", class: "mi-boton" %>
  </div>
   <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>Phillip </strong> <br>
      Televisor Ambilight 4K Smart 65'</p>
      <p class="price">$500</p>
     <%= link_to "See details", class: "mi-boton" %>
  </div>
    <div class ="card">
   <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= link_to "See details", class: "mi-boton" %>
  </div>
</div>

<div class = "card-container">
  <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= link_to "See details", class: "mi-boton" %>
  </div>
   <div class ="card">
     <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= link_to "See details", class: "mi-boton" %>
  </div>
   <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= link_to "See details", class: "mi-boton" %>
  </div>
    <div class ="card">
   <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= link_to "See details", class: "mi-boton" %>
  </div>
</div>
