
<div class = "banner">
   <%= image_tag("banner.png", alt: "tv") %>

</div>
<div class = "card-container">
  <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= button_tag "View detail", class: "mi-boton" %>
  </div>
   <div class ="card">
     <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= button_tag "Vieww detail", class: "mi-boton" %>
  </div>
   <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= button_tag "View detail", class: "mi-boton" %>
  </div>
    <div class ="card">
   <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= button_tag "View detail", class: "mi-boton" %>
  </div>
</div>

<div class = "card-container">
  <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= button_tag "View detail", class: "mi-boton" %>
  </div>
   <div class ="card">
     <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= button_tag "View detail", class: "mi-boton" %>
  </div>
   <div class ="card">
      <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= button_tag "View detail", class: "mi-boton" %>
  </div>
    <div class ="card">
   <%= image_tag("tv1.jpeg", alt: "tv") %>
      <p class="texto-card"> <strong>LG </strong> <br>
      Televisor 4k Nanocell Smart 55'</p>
      <p class="price">$500</p>
     <%= button_tag "View detail", class: "mi-boton" %>
  </div>
</div>
