<%= link_to "<- See all products", products_path() %>
<div class="container">
  <h1>
    <%= @product.name %>
  </h1>
    <%= @product.description %>
    <hr>$<%= @product.price %>
    <li><%= simple_form_for @product do |f| %></li>
  <%= f.submit "Add to cart" %>

  <% end %>
</div>
