<!DOCTYPE html>
<html>
  <head>
    <title>Electroshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <main>
  <div class="container mb-4">
    <%= form_with url: products_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Buscar productos por nombre o descripción..." %>
      <%= submit_tag "Buscar", class: "btn btn-primary me-2" %>
      <% if params[:query].present? %>
        <%= link_to "Limpiar búsqueda", products_path, class: "btn btn-secondary" %>
      <% end %>
    <% end %>
  </div>

      <%= yield %>
    </main>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/footer" %>
  </body>
</html>
